[defaults]
inventory = inventories/local/hosts.yml
retry_files_enabled = False
interpreter_python = auto_silent
stdout_callback = default
callback_result_format = yaml
nocows = True
timeout = 30

[ssh_connection]
pipelining = True
